@font-face {
    font-family:"Aleo-Regular";
    src: url(../fonts/Aleo-Regular.ttf);
}
@font-face {
    font-family:"JosefinSans-Bold";
    src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family:"JosefinSans-Light";
    src: url(../fonts/JosefinSans-Light.ttf);
}
@font-face {
    font-family:"JosefinSans-Regular";
    src: url(../fonts/JosefinSans-Regular.ttf);
}