.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    &__logo {
        text-transform: uppercase;
        font-family: $section-title-font;
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: 0.1em;
    }

    &__nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__nav-item {
        list-style: none;

        &+& {
            padding-left: 40px;
        }
    }

    &__nav-link {
        position: relative;
        color: $main-color;
        text-decoration: none;
        text-transform: uppercase;

        &:hover::before {
            width: 100%;
            left: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            right: 0;
            height: 0.15em;
            border-radius: 5px;
            background-color: $main-color;
            bottom: -0.3em;
            transition: 0.3s;
        }
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        flex-direction: column;
        gap: 20px;
    }

}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        justify-content: space-between;
    }

}

@media screen and (max-width: 613px) {
    .nav {
        flex-direction: column;
        justify-content: space-between;

        &__nav-list {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            gap: 30px;
        }

        &__nav-item {
            &+& {
                padding-left: 0px;
            }
        }
    }
}