$main-color:#fff;
$secondary-color:#5373FD;
$main-font:"JosefinSans-Regular";
$secondary-font:"Aleo-Regular";
$section-title-font:"JosefinSans-Bold";
$placeholder-font:"JosefinSans-Regular";
$card-title-font:"JosefinSans-Regular";
$text-font:"JosefinSans-Light";