@import "./fonts";
@import "./variables";
@import "./banner";
@import "./nav";
@import "./about";
@import "./steps";
@import "./bookNow";
@import "./footer";
@import "./feedback";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    color: $main-color;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &_banner {
        background-image: url(../img/BG/Header-bg.png);
    }

    &_nav {
        background-color: $secondary-color;
        // position: sticky;
        // top: 0;
    }

    &_about {
        background-image: url(../img/BG/Why-bg.png);
    }

    &_steps {
        background-color: #333333;
    }

    &_bookNow-1 {
        background-image: url(../img/BG/house-bg.png);
    }

    &_bookNow-2 {
        background-image: url(../img/BG/spain-bg.png);
    }

    &_feedback {
        background-image: url(../img/BG/Sam_Simon-bg.png);
    }

    &__footer {
        background-color: #000000;
    }
}

.button {
    background-color: $secondary-color;
    border: none;
    color: $main-color;
    cursor: pointer;

    &:hover {
        background-color: #3954ca;
    }
}

@media screen and (max-width: 1430px) and (min-width: 320px) {
    .container {
        padding: 0 30px;
    }
}